Repository worstpractice/graphql-countries-index: changes, and which lint-staged commands are due for each by the changed paths.
All: echo hooks seem to work, stylelint --fix, prettier -c ./.prettierrc-learn2esport -u -w

updated git
  src/index.tsx
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

actually install lint-staged
  package.json
  src/index.tsx
  yarn.lock
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

hooks working, added peaceful coexistence between official and personal lint rules
  .lintstagedrc
  .prettierrc-learn2esport
  package.json
  src/components/content/DetailView.tsx
  src/typings/generated/index.d.ts
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

testing dual config
  src/index.tsx
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

add prettier as devdependency
  package.json
Due: echo hooks seem to work

order sensitive?
  .lintstagedrc
Due: echo hooks seem to work

remove for now
  .lintstagedrc
Due: echo hooks seem to work

testing lint-staged
  .lintstagedrc
Due: echo hooks seem to work

testing lint-staged
  package.json
  src/index.tsx
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

these seem order sensitive
  .lintstagedrc
  package.json
Due: echo hooks seem to work

lint-staged
  src/components/content/DetailView.tsx
  src/index.tsx
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

passive event listeners ftw
  src/utils/addEventListener.ts
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

tweak settings
  .lintstagedrc
Due: echo hooks seem to work

use capture phase to prevent double interaction bug in touch devices
  src/hooks/useInteractOutside.tsx
  src/utils/addEventListener.ts
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

Updates
  asset-manifest.json
  index.html
  precache-manifest.e14eda99ea1f073fd691bbccf7083bb7.js
  service-worker.js
  static/css/main.5c4f5ec9.chunk.css
  static/css/main.5c4f5ec9.chunk.css.map
  static/css/main.fd86466c.chunk.css.map
  static/js/main.1b8a35e6.chunk.js.map
  static/js/main.6e9b1a66.chunk.js
  static/js/main.6e9b1a66.chunk.js.map
Due: echo hooks seem to work, stylelint --fix, prettier -c ./.prettierrc-learn2esport -u -w

tweak cypress config
  cypress.json
Due: echo hooks seem to work

scary but useful. handle with great care.
  package.json
  scripts/clean.js
  scripts/nuke.js
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

revamp useOnClickOutside hook
  src/components/collections/Countries.tsx
  src/components/content/ContentCard.tsx
  src/components/content/DetailView.tsx
  src/hooks/useInteractOutside.tsx
  src/hooks/useOnClickOutside.tsx
  src/utils/addEventListener.ts
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

Updates
  asset-manifest.json
  index.html
  precache-manifest.b72b0839a11317a461c9a4638bfc8b17.js
  service-worker.js
  static/js/main.1f97f799.chunk.js
  static/js/main.1f97f799.chunk.js.map
  static/js/main.6e9b1a66.chunk.js.map
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

improve behaviour on mobile
  src/hooks/useOnClickOutside.tsx
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

Updates
  asset-manifest.json
  index.html
  precache-manifest.bef01d3521022b6fe53c7cbd5e06e1a5.js
  service-worker.js
  static/js/main.14e8e84d.chunk.js
  static/js/main.14e8e84d.chunk.js.map
  static/js/main.1f97f799.chunk.js.map
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

try a simpler solution
  src/hooks/useOnClickOutside.tsx
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

Updates
  asset-manifest.json
  index.html
  precache-manifest.1f2367c00b3ff6de2b81c37cecfaf4c2.js
  service-worker.js
  static/js/main.14e8e84d.chunk.js.map
  static/js/main.9f6f68d0.chunk.js
  static/js/main.9f6f68d0.chunk.js.map
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

add additional cypress tests
  cypress/fixtures/example.json
  cypress/integration/app-spec.ts
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

refactor cypress tests
  cypress/integration/app-spec.ts
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

typescript-fu considered harmful
  cypress/integration/app-spec.ts
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

eureka! isModalOpen and selectedCountry were really the same thing split in two!
  src/components/App.tsx
  src/components/collections/Countries.tsx
  src/components/content/DetailView.tsx
  src/store/index.tsx
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

Updates
  asset-manifest.json
  index.html
  precache-manifest.3f9ed1420c90bf1c1a44aa7aa5e4de71.js
  service-worker.js
  static/js/main.9f6f68d0.chunk.js
  static/js/main.9f6f68d0.chunk.js.map
  static/js/main.ed78f825.chunk.js
  static/js/main.ed78f825.chunk.js.map
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

aaaah... deleting code
  src/utils/addEventListener.ts
  src/utils/compose.ts
  src/utils/correctMobileViewport.ts
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

Updates
  asset-manifest.json
  index.html
  precache-manifest.520555ba85df31ef950af0a22f7f3cdb.js
  service-worker.js
  static/js/main.71d23545.chunk.js
  static/js/main.71d23545.chunk.js.map
  static/js/main.ed78f825.chunk.js.map
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

improve accessibility
  src/components/content/DetailView.tsx
  src/components/content/TextInput.tsx
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

Updates
  asset-manifest.json
  index.html
  precache-manifest.a86c839aca3c9b9e1d146bd831b533c8.js
  service-worker.js
  static/js/main.3ee468ee.chunk.js
  static/js/main.3ee468ee.chunk.js.map
  static/js/main.71d23545.chunk.js
  static/js/main.71d23545.chunk.js.map
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

Updates
  asset-manifest.json
  index.html
  precache-manifest.4b68c12a51d2c6f15adff23e1681d2d7.js
  service-worker.js
  static/css/main.5c4f5ec9.chunk.css.map
  static/css/main.64f0b478.chunk.css
  static/css/main.64f0b478.chunk.css.map
  static/js/main.3ee468ee.chunk.js.map
Due: echo hooks seem to work, stylelint --fix, prettier -c ./.prettierrc-learn2esport -u -w

significantly increase type safety of children
  src/components/content/ContentCard.tsx
  src/components/modals/FullScreenModal.tsx
  src/components/sections/Search.tsx
  src/components/ui/containers/FlexContainer.tsx
  src/components/ui/containers/GridContainer.tsx
  src/components/ui/effects/Background.tsx
  src/components/ui/structures/Header.tsx
  src/components/ui/structures/Main.tsx
  src/providers/index.tsx
  src/typings/FC.d.ts
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

even more typesafety than I had imagined
  src/components/App.tsx
  src/components/content/ContentCard.tsx
  src/components/modals/FullScreenModal.tsx
  src/components/sections/Search.tsx
  src/components/ui/containers/FlexContainer.tsx
  src/components/ui/containers/GridContainer.tsx
  src/components/ui/effects/Background.tsx
  src/components/ui/structures/Header.tsx
  src/components/ui/structures/Main.tsx
  src/providers/index.tsx
  src/typings/MultipleChildren.d.ts
  src/typings/SingleChild.d.ts
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

Updates
  asset-manifest.json
  index.html
  precache-manifest.d58c8b5698dc3c12b5585ae354136ed0.js
  service-worker.js
  static/js/main.3ee468ee.chunk.js.map
  static/js/main.900c480c.chunk.js
  static/js/main.900c480c.chunk.js.map
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

prefer type imports
  src/components/modals/FullScreenModal.tsx
  src/components/sections/Search.tsx
  src/components/ui/containers/FlexContainer.tsx
  src/components/ui/containers/GridContainer.tsx
  src/components/ui/effects/Background.tsx
  src/components/ui/structures/Header.tsx
  src/components/ui/structures/Main.tsx
  src/providers/index.tsx
Due: echo hooks seem to work, prettier -c ./.prettierrc-learn2esport -u -w

Updates
  static/js/main.900c480c.chunk.js.map
Due: echo hooks seem to work

Path conditions:
  echo hooks seem to work: any of: *
  stylelint --fix: any of: *.css
  prettier -c ./.prettierrc-learn2esport -u -w: any of: *.{css,d.ts,js,jsx,ts,tsx}
